	  body {
		margin: 0;
	  }
      #gauche {
        float: left;
        width: 68%;
        height: 1000px;
        background-color: #9E81FF;
		color: #272822;
		padding-top: 20px;
		padding-left: 20px;
      }
      #droite {
        background-color: #272822;
        height: 1000px;
        padding : 10px;
        padding-left: 70%;
		color:white;
      }
	  span {
		font-weight: bold;
	  }
      span, button, input {
        margin: 10px;
      }
	  button {
	  background: #9999c7;
	  background-image: -webkit-linear-gradient(top, #9999c7, #2980b9);
	  background-image: -moz-linear-gradient(top, #9999c7, #2980b9);
	  background-image: -ms-linear-gradient(top, #9999c7, #2980b9);
	  background-image: -o-linear-gradient(top, #9999c7, #2980b9);
	  background-image: linear-gradient(to bottom, #9999c7, #2980b9);
	  -webkit-border-radius: 28;
	  -moz-border-radius: 28;
	  border-radius: 3px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 12px;
	  padding: 3px 3px 3px 3px;
	  text-decoration: none;
	  border: 1px solid #D0D4DB;
	  font-weight: bold;
	}

	button:hover {
	  background: #3cb0fd;
	  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	  text-decoration: none;
	}
}
	  /* Ajout de code CSS ou jQuery pour afficher un ombrage sur les boutons actifs lorsqu'ils sont survolés par la souris. */
      button:hover:enabled {
        box-shadow: 5px 5px 5px white;
      }  
